{% extends 'base/base.html' %}
{% block content %}
     <table  class="table table-striped table-hover ">

        <thead>
            <tr>
                <td>No. Solictud</td>
                <td>Adoptante</td>
                <td>No. Mascotas</td>
                <td>Razones</td>
                <td>Acciones</td>

            </tr>
        </thead>
        <tbody>
          {% if object_list %}
          {% for solicitud in object_list %}
          <tr>
                <td>{{solicitud.id }}</td>
                <td>{{ solicitud.persona.nombre }}{{ solicitud.persona.apellidos }}</td>
                <td>{{ solicitud.numero_mascotas }}</td>
                <td>{{ solicitud.razones }}</td>
                <td><a class="btn btn-primary">Editar</a>
                    <a class="btn btn-danger">Eliminar</a>
                </td>
            </tr>

{% endfor %}
              {% else %}
              <h1>No Hay registros de mascotas</h1>
        {% endif %}
        </tbody>

    </table>


{% endblock %}